[Unit]
Description=uvicorn prod deamon
After=network.target

[Service]
User=natalia
Group=www-data
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=gunicorn_prod
WorkingDirectory=/opt/maia-dashboard-prod/backend
ExecStart=/opt/maia-dashboard-prod/env/bin/uvicorn main:app --host 127.0.0.1 --port 8000

[Install]
WantedBy=multi-user.target